NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/secure/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/secure/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/secure
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/secure