.cl-signIn-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--zuedev-purple);
}

.cl-footerAction__signIn {
  display: none;
}
