@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --zuedev-purple: #240054;
}

.bg-zd-purple {
  background-color: var(--zuedev-purple);
}

html {
  font-family: monospace;
}

body {
  min-height: 100vh;
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

.panText {
  background: linear-gradient(
    45deg,
    #ff1b8d 33%,
    #ffd800 33%,
    #ffd800 66%,
    #21b1ff 66%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.raveBackground {
  /* rainbow */
  background: red;
  animation: raveBackgroundAnimation 2s linear infinite;
}

@keyframes raveBackgroundAnimation {
  0% {
    background-color: red;
  }
  16.666% {
    background-color: orange;
  }
  33.333% {
    background-color: yellow;
  }
  50% {
    background-color: green;
  }
  66.666% {
    background-color: blue;
  }
  83.333% {
    background-color: indigo;
  }
  100% {
    background-color: violet;
  }
}

.raveBackgroundText {
  background: black;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: raveBackgroundTextAnimation 2s linear infinite;
}

@keyframes raveBackgroundTextAnimation {
  0% {
    background-color: black;
  }
  16.666% {
    background-color: black;
  }
  33.333% {
    background-color: black;
  }
  50% {
    background-color: white;
  }
  66.666% {
    background-color: white;
  }
  83.333% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}
