@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --zuedev-purple: #240054;
}

html {
  background: var(--zuedev-purple);
  color: white;
  font-family: monospace;
}

body {
  min-height: 100vh;
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
